
$accent: #0066b1;
$active: $accent ;
$text-color: #656565;
$brand: #d91f26;

$active-background: $accent;
$blue: $active;
$green: #4CAF50;
$primary: $accent ;
$secondary: #ed1c24 ;
$base-bg2: $accent;
$base-bg: $accent;
$btn-bg: #eeeeee;

$info: #777777a1;
