<form [formGroup]="form" id="book">

  <div class="row ">
  <div class="form-group row required col-sm-6 col-12">
    <label class="col-12 col-form-label" for="tea">
      Tea:
    </label>
    <div class="col-12">
      <select id="tea" class="form-control" formControlName="tea" [ngClass]="{'is-invalid': displayMessage.tea }">
        <option [value]="null">Select a Tea</option>
        <option *ngFor="let o of data?.teas" value="{{o.id}}">{{o.name}}</option>
      </select>
      <span class="invalid-feedback {{displayMessage['tea'] ? 'd-block': '' }}">{{displayMessage['tea']}}
      </span>

    </div>
  </div>
  <div class="form-group row required col-sm-6 col-12">
    <label class="col-12 col-form-label" for="flavour">
      Flavour:
    </label>
    <div class="col-12">
      <select id="flavour" class="form-control" formControlName="flavour" [ngClass]="{'is-invalid': displayMessage.flavour }">
        <option [value]="null">Select a flavour</option>
        <option *ngFor="let o of data?.flavours" value="{{o.id}}">{{o.name}}</option>
      </select>
      <span
        class="invalid-feedback {{displayMessage['flavour'] ? 'd-block': '' }}">{{displayMessage['flavour']}}
      </span>
    </div>
  </div>
  </div>

 <div class="row">
  <div class="form-group row required col-sm-6 col-12">
    <label class="col-12 col-form-label" for="class">
      Toppings:
    </label>
    <div class="col-12">
      <label formArrayName="toppings" class="toppinglbl" *ngFor="let order of toppings.controls; let i = index">
        <input type="checkbox" [formControlName]="i"> {{data.toppings[i].name}}
      </label>
      <span
        class="invalid-feedback {{displayMessage['topping'] ? 'd-block': '' }}">{{displayMessage['topping']}}
      </span>
    </div>
  </div>

  <div class="form-group row required  col-sm-6 col-12">
    <label class="col-12 col-form-label" for="class">
      Size:
    </label>
    <div class="col-12">
      <input type="radio" id="small" name="size" value="S" formControlName="size">
      <label for="small">&nbsp;Small</label><br>
      <input type="radio" id="medium" name="size" value="M" formControlName="size">
      <label for="medium">&nbsp;Medium</label><br>
      <input type="radio" id="large" name="size" value="L" formControlName="size">
      <label for="large">&nbsp;Large</label>
    </div>
  </div>
 </div>



  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}} </div>
    </div>
  </div>


  <div class="side-modal-footer">
    <button (click)="add()" class="btn btn-primary continue-trip-btn {{form.valid ? '': 'in-valid'}}">Add
      Order</button>
  </div>


  <div id="bookingsarea">

    <h4>Orders</h4>
    <div class="row">
      <div class="col-12 bookings">
        <div class="h-header">
          <div class="h-col c-size">Size</div>
          <div class="h-col c-tea">Tea</div>
          <div class="h-col c-flavour">Flavour</div>
          <div class="h-col c-toppings">Toppings</div>
          <div class="h-col c-price">Price</div>
          <div class="h-col c-Edit">Edit</div>
          <div class="h-col c-Edit">Delete</div>
        </div>
        <div class="h-body">
          <ng-container *ngFor="let b of bookings">
            <div class="h-row">
              <div class="h-col c-size">{{b.size}}</div>
              <div class="h-col c-tea"> {{b.teaName}} </div>
              <div class="h-col c-flavour">{{b.flavourName}} </div>
              <div class="h-col c-toppings ">{{b.toppingCount}} Toppings</div>
              <div class="h-col c-toppings {{b.price | currency}}"></div>
              <div class="h-col c-edit" (click)='edit(b.id)'>
                <div class="btn">Edit</div>
              </div>
              <div class="h-col c-delete ">
                <div (click)='delete(b.id)'>&times; </div>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="bookings?.length == 0">
          <div class="h-noitems"><span>Currently no orders</span></div>
        </ng-container>
      </div>
    </div>

  </div>




</form>
